/* your styles go here */

button.btn {
  border: none;
  border-radius: 2rem !important;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Livvic);
  cursor: pointer;
}

.button-title .btn {
  background: rgb(152, 145, 245);
}

/* ------- pagination begins -------- */

.pagination {
  height: 36px;
  padding-top: 20px;
}


.pagination li {
  display: inline;
}

.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination a:hover,
.active a {
  background-color: whiteSmoke;
}

.disabled a,
.disabled a:hover,
.active a,
.active a:hover {
  color: #999;
  cursor: default;
}

.disabled a:hover {
  background-color: transparent;
}

/* ------- pagination ends -------- */

.summary,
.info,
.note {
  margin: 15px 0;
  line-height: 28px;
}