---
layout: page
focus: homepage
hometype: homepage
focus: noform
---
{% for post in site.posts %}

<div class="card mb-4">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ post.image }}" class="card-img" alt="{{ post.title }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h4>
                <span>
                    <footer class="post-footer d-flex align-items-center">
                        <div class="date"><i class="fas fa-calendar-alt"></i> {{ post.date | date: "%b %-d, %Y" }}
                            &nbsp; &#8226;
                            &nbsp;
                            <i class="icon-clock"></i> {% include readtime.html content=post.content %} &nbsp; &#8226;
                            &nbsp;
                            {% for cat in post.categories %}
                            <i class="fas fa-tags"></i><a href="{{ " /category-" | prepend: site.baseurl | append: cat}} ">{{cat}}</a>{% unless forloop.last
                  %}, &nbsp; {% endunless%}
                  {% endfor %}
                  
              </div>
          </footer>
          </span>
        <p class=" card-text">{{ post.description }}</p>
                                <a href="{{site.baseurl}}{{post.url}}" class="btn btn-primary">Read More &rarr;</a>
                        </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Pagination links -->

    <div class="pagination">
        <ul>
            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <li>
                <a href="/">&laquo;</a>
            </li>
            {% else %}
            <li>
                <a href="/page{{paginator.previous_page}}">&laquo;</a>
            </li>
            {% endif %}
            {% else %}
            <li class="disabled">
                <a href="#">&laquo;</a>
            </li>
            {% endif %}
            {% if paginator.page == 1 %}
            <li class="active">
                <a href="#">1</a>
            </li>
            {% else %}
            <li>
                <a href="/">1</a>
            </li>
            {% endif %}
            {% for count in (2..paginator.total_pages) %}
            {% if count == paginator.page %}
            <li class="active">
                <a href="#">{{count}}</a>
            </li>
            {% else %}
            <li>
                <a href="/page{{count}}">{{count}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
            <li>
                <a href="/page{{paginator.next_page}}">&raquo;</a>
            </li>
            {% else %}
            <li class="disabled">
                <a href="#">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>
    </section>
    <!-- Divider Section-->
    {% if page.hometype == "homepage" %}
    <section style="background: url(img/divider-bg.jpg); background-size: cover; background-position: center bottom"
        class="divider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Are you looking for a job in technical writing? Find answers to your questions on technical
                        writing and much more...</h2><a href="#" class="hero-link">Frequently asked questions</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Newsletter Section-->
    <section class="newsletter">
        {% include newsletter.html %}
    </section>
    {% endif %}