---
title: being technical writer
layout: page
typeg: homepage

---

      

{% for post in site.posts %}
        <div class="card mb-4">            
            <div class="card-body">
              <h4 class="card-title"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h4>
              <p>
                {{ post.date | date: "%b %-d, %Y" }} &#8226;
                {% include readtime.html content=post.content %} &#8226;
                {% for cat in post.categories %}
                <a href="{{ "/category-" | prepend: site.baseurl | append: cat}}">{{cat}}</a>{% unless forloop.last %}, {% endunless%}
                {% endfor %}
              </p>
              <p class="card-text">{{ post.description }}</p>
              <a href="{{site.baseurl}}{{post.url}}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </div>
        
            {% endfor %}
          
   
          
<!-- Pagination links -->

<div class="pagination">
    <ul>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <li>
            <a href="/">&laquo;</a>
          </li>
        {% else %}
          <li>
            <a href="/page{{paginator.previous_page}}">&laquo;</a>
          </li>
        {% endif %}
      {% else %}
        <li class="disabled">
          <a href="#">&laquo;</a>
        </li>
      {% endif %}
      {% if paginator.page == 1 %}
        <li class="active">
          <a href="#">1</a>
        </li>
      {% else %}
        <li>
          <a href="/">1</a>
        </li>
      {% endif %}
      {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
          <li class="active">
            <a href="#">{{count}}</a>
          </li>
        {% else %}
          <li>
            <a href="/page{{count}}">{{count}}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
        <li>
          <a href="/page{{paginator.next_page}}">&raquo;</a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">&raquo;</a>
        </li>
      {% endif %}
    </ul>
  </div>