<div class="widget latest-posts">
    <header>
        <h3 class="h6">Latest Posts</h3>
    </header>
    {% for post in site.posts limit:4 %}
    <div class="blog-posts"><a href="{{post.url}}">
            <div class="item d-flex align-items-center">
                <div class="image"><img src="{{ post.image | prepend: site.baseurl }}"
                    alt="..." class="img-fluid"> 
                </div>
                <div class="title">{{post.title}}</div>
            </div>
    </div>
    {% endfor %}
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7149683584202371"
     crossorigin="anonymous"></script>
<!-- Square Ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7149683584202371"
     data-ad-slot="4836979429"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>