<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Subscribe to my Newsletter</h2>
            <p>Stay updated With latest courses, trends, and technologies in technical communication.
            </p>
        </div>
        <div class="col-md-8">
            <div class="form-holder">
                <form action="https://tinyletter.com/beingtechnicalwriter" method="post" target="popupwindow"
                    onsubmit="window.open('https://tinyletter.com/beingtechnicalwriter', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                    {% comment %}<i class="fa fa-envelope-o fa-2x" aria-hidden="true" style="float:left;"></i>{%
                    endcomment %}
                    <div class=" form-group">
                        <input type="email" name="email" id="email" placeholder="Type your email address">
                        <button type="submit" class="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>