<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h2><span>API Documentation Mastery: From Zero to Hero</span></h2>
            <p>Unveiling the API Documentation Mastery Course: Comprehensive, Easy-to-Follow, and Covers It All!</p>
            <div class="button-title">
                <a href="https://beingtechnicalwriter.com/apidocumentation/">
                    <button class="btn">Take me to the API documentation course</button></a>
            </div>
        </div>
    </div>
</div>