<div class="form-group btw">
    <form style="border-radius: 4px; text-align: left; background-color: transparent; border:1px solid #ccc;padding:8px;text-align:left; padding-bottom: 15px;" action="https://tinyletter.com/beingtechnicalwriter" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/beingtechnicalwriter', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        {% comment %}<i class="fa fa-envelope-o fa-2x" aria-hidden="true" style="float:left;"></i>{% endcomment %}
        <div class="newsletterSubscribeHeading">Stay updated</div>
        <div class="mailingListSubtext">With latest courses, trends, and technologies in technical communication.</div>
        <p style="max-width: 85%"><input type="text" style="width:100%; display: block; margin-left: 5px;" placeholder=" email address" name="email" id="tlemail" /></p>
        <div class="submitButton"><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe to my newsletter" style="text-align: center; margin-left: 5px;" class="btn btn-info"></input></div>
    </form>
</div>