<!-- this handles the automatic toc. use ## for subheads to auto-generate the on-page minitoc. if you use html tags, you must supply an ID for the heading element in order for it to appear in the minitoc. -->
<div id="toc"></div>

<script>
// Wait for jQuery to be available
(function checkjQuery() {
  if (typeof jQuery !== 'undefined') {
    jQuery(document).ready(function($) {
      // Handler for .ready() called.
      if (typeof $.fn.toc !== 'undefined') {
        $('#toc').toc({ minimumHeaders: 0, listType: 'ul', showSpeed: 0, headers: 'h2,h3,h4' });
        
        /* this offset helps account for the space taken up by the floating toolbar. */
        $('#toc').on('click', 'a', function() {
          var target = $(this.getAttribute('href'));
          if (target.length) {
            var scroll_target = target.offset().top;
            $(window).scrollTop(scroll_target - 10);
          }
          return false;
        });
      }
    });
  } else {
    setTimeout(checkjQuery, 50);
  }
})();
</script>