<!DOCTYPE html>
<html>

<head>
    {% include google_analytics.html %}
    {% include adsense.html %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if page.hometype == "homepage" %}
        {{ site.title }} | {{site.description}}
        {% else %}
        {{page.title}} | {{ site.title }}
        {% endif %}
    </title>
    {% seo %}
    <meta name="description"
        content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 170 }}{% else %}{{page.content | strip | strip_html | truncate: 170}}{% endif %}">
    <meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    {% if page.author %}
    {% assign author = site.data.authors[page.author] %}
    <meta property="article:author" content="{{ author.name }}" />
    {% endif %}
    <!-- Custom icon font-->
    <link rel="stylesheet" href="{{site.url}}/css/fontastic.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{site.url}}/favicon.ico">

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{{site.url}}/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{{site.url}}/css/custom.css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/31fd33d141.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <!-- Main Navbar-->
        {% include topnavigation.html %}
    </header>
    <!-- Slider Section-->
    {% if page.hometype == "homepage" %}
    <section class="hero">
        {% include slider.html %}
    </section>
    {% endif %}
    <!-- Intro Section-->
    {% if page.hometype == "homepage" %}
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="h1">Being technical writer blog</h1>
                    <p class="text-big">A place where you learn about all the <strong>innovations</strong> ,
                        <strong>standards</strong>, and <strong>trends</strong> in technical writing.
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="featured-posts no-padding-top">
        <div class="container">
            {{ content }}
        </div>
    </section>

    <!-- Page Footer-->
    <footer class="main-footer">
        {% include footer.html %}
    </footer>

    <!-- JavaScript files-->
    <script src="{{site.url}}/vendor/jquery/jquery.min.js"></script>
    <script src="{{site.url}}/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="{{site.url}}/js/assessment.js"> </script>
    <script src="{{site.url}}/vendor/@fancyapps/fancybox/jquery.fancybox.min.js"></script>
    <script src="{{site.url}}/js/front.js"></script>
    <script src="{{site.url}}/js/toc.js"></script>
    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>