---
layout: default

---
<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
            <div class="container">
                <div class="post-single">
                    <div class="post-thumbnail"><img src="{{ page.image | prepend: site.baseurl }}"
                            alt="{{ page.title }}" title="{{ page.title }}"></div>
                    <div class="post-details">
                        <div class="post-meta d-flex justify-content-between">
                            {% for cat in post.categories %}
                            <div class="category"><a href="{{ " /category-" | prepend: site.baseurl | append:
                                    cat}}">{{cat}}</a>{% unless forloop.last
                                %}, {% endunless%}
                                {% endfor %}
                            </div>
                        </div>
                        <h1>{{ page.title }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                        {% if page.description %}<div class="summary">{{page.description}}</div> {% endif %}
                        <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#"
                                class="author d-flex align-items-center flex-wrap">

                                <div class="title"><span>{{page.author}}</span></div>
                            </a>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="date"><i class="icon-clock"></i> {{ post.date | date: "%b %-d, %Y" }}</div>
                                <div class="date"><i class="icon-clock"></i> {% include readtime.html
                                    content=post.content %}</div>
                            </div>
                        </div>
                        <div class="post-body">
                            <p class="lead">
                                {{content}}
                            {% include previousnext.html %}
                        </div>
                    </div>
                </div>
        </main>
        <aside class="col-lg-4">
            <!-- Widget [Categories Widget]-->
            {% include categorieswidget.html %}
            <!-- Widget [Latest Posts Widget]  -->
            {% include latestpost.html %}
        </aside>
    </div>
</div>
</div>
</div>
{% include share_bar.html %}
{% include disqus.html %}